

@font-face {
  font-family: 'Gliker';
  src: 
      url('Gliker-SemiBoldCondensed.woff2') format('woff2');
     
  
  font-style:normal;
}

.bg-custom {
    /* fallback for old browsers */
    background: #ffffff;
  } 

  .card{
    border-radius: 1em;
    overflow:hidden;
    border-color: #4d3020; 
    border-width: 5px;
      width:50vw;
    
     }

     

  .card-title{
 font-family: 'Gliker';

  }

  img{
padding: 0px;

    overflow:hidden;
    
  }
  
    

    .card-background{
        background-color: #d6d3c0;
        color:rgb(0, 0, 0);
    }
 
